body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url(https://img.freepik.com/free-vector/watercolor-background_220290-47.jpg?w=900&t=st=1681429942~exp=1681430542~hmac=5a66ebcff0da224203cea671336b2627a993bf1efbc71aa5dadabc4c6c2d8650);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
